<div class="row">
  <%= render "shared/tweet_box", tweet: @tweet %> 
</div>
<div class="mt-2">
<% @tweet.liking_users.each do |user| %>
  <%= image_tag (user.photo_url), class: "img-thumbnail rounded-circle avatar"%>
<% end %>

</div>