<% if user_signed_in? %>
    <%= render 'tweets/form', tweet: @tweet %> 
    <br>
    <hr/>
<% end %>

<div class="row">
    <% @tweets.each do |tweet| %>
        <%= render "shared/tweet_box", tweet: tweet %> 
    <% end %>
    <div class=" ">
        <%= paginate @tweets %>
    </div>
</div>