
.avatar-box {
    overflow: hidden;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 0;
}
.avatar{
    width: auto;
    height: 50px;
}
textarea#tweet_content{
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    max-width: 100%;
    max-height: 113px;
    height: 84px;
}